@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Lato:wght@700&family=Open+Sans:ital,wght@1,300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lobster&family=Montserrat&family=Playfair+Display+SC&display=swap');


/*Estilização em geral*/
* {
    margin: 0px;
}

body {
    background-color: #1a1818;
    margin: 0 auto; 
    overflow-x: hidden; /*retira a barra de rolagem da lateral*/
    background-size: cover; /*se adapta a resolução do computador*/
    background-repeat: no-repeat; /*imagem de fundo não repete*/
}

#menu {
    margin: 0px;
    font-family: 'Lato', sans-serif;
    width: 100%;
    height: 70px;
    background: #0a0a0a;
    color: white;
    padding-left: 50px;
}

#menu li {
    display: inline-block;
    padding-left: 20px;
    padding-right: 20px;
}

#menu a {
    float: left;
    text-decoration: none;
    color: rgb(243, 220, 9);
    text-transform: uppercase;
    line-height: 60px;
    height: 60px;
    padding: 0px 10px;
}

#menu a:hover {
    background: #444;
}

#menu i {
    height: 60px;
    line-height: 60px;
}

#menu i.left {
    float: left;
    height: 60px;
    line-height: 60px;
    margin-right: 5px;
}

#menu i.right {
    float: left;
    height: 60px;
    line-height: 60px;
    margin-left: 5px;
}

.iconmenu {
    width: 200px;
}

h1 {
    margin-top: 5%; 
    margin-bottom: 1%;
    margin-left: 5%;
    font-family: 'Montserrat', sans-serif;
    font-size: 40px;
    color: rgb(243, 220, 9);
}

p {
    margin-bottom: 10px;
    margin-right: 5%;
    margin-left: 5%;
    font-family: 'Roboto', sans-serif;
    font-size: 20PX;
    color: white;
    text-align: justify;
}

hr {
    margin-top: 5%;
    border-color: rgb(255, 255, 255);
}

h5 {
    color: white;
    text-align: center;
    font-family: 'Lato', sans-serif;
    clear: both; /*Alinha o h5 com a seta*/
    margin-bottom: 0.5%;
}

.efeito {
    transition: all 0.5s;
    cursor: pointer;
}

.efeito:hover {
    transform: scale(1.25);
}

.seta img {
    width: 2%;
    float: right;
    margin-right: 2%;
    margin-top: 1%;
}

/*Modificações do index.html*/
.index-hr {
    margin-top: 41%;
}

/*Imagens e modificações do origem.html*/
.biografia img {
    margin-top: 5%;
    margin-right: 1.5%;
    margin-left: 5%;
    height: 320px;
    float: left;
}

.sorridente img {
    margin-top: 5%;
    margin-right: 1.5%;
    margin-left: 5%;
    height: 420px;
    float: left;
}

.gamesacademy img {
    margin-top: 5%;
    margin-bottom: 1%;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.table-direita {
    margin-top: 5%;
    margin-left: 85%;
}

.a-estilo {
    text-decoration: none;
}

.redes {
    width: 35px;
}

.nome {
    color: #ffffff;
    font-family: 'Roboto', sans-serif;
    font-size: 15px;
    font-weight: bold; 
}

.nome:hover {
    color: rgb(243, 220, 9);
}

/*Imagens e modificações do galeria.html*/
h2 {
    margin-bottom: 5px;
    margin-top: 5px;
    margin-left: 5%;
    font-family: 'Roboto', sans-serif;
    font-size: 20px;
    color: white;
    text-align: justify;
}

h3 {
    margin-top: 1%;
    margin-left: 5%;
    font-size: 25px;
    font-family: 'Montserrat', sans-serif;
    color: rgb(243, 220, 9);
}

.image-gallery img {
    margin-left: 5%;
    margin-right: 1.5%;
    float: left;
    width: 750px;
    height: 450px;
}

.empreendedor img {
    margin-top: 5%;
    margin-right: 1.5%;
    margin-left: 5%;
    width: 200px;
    float: left;
}

.produtos {
    text-align: center;
}

.produtos img {
    display: inline-block;
    margin: 20px;
    width: 250px;
}

.forbes img {
    margin-left: 5%;
    margin-right: 1.5%;
    width: 300px;
    float: left;
}

.paragrafo { /*Coloquei uma classe no parágrafo para que o texto não ocupa a tela inteira depois da imagem*/
    max-width: 1200px;
    margin-top: 3%;
    margin-bottom: 5%;
}

.logo2 img {
    margin-right: 5%;
    margin-top: 1%;
    width: 300px;
    float: right;
}

/*Imagens e modificações do premio.html*/
.h1-premio { /*Coloquei uma classe no h1 para que ele fique mais longe da imagem acima, sem que eu precise modificar todos, pois só precisei fazer isso nesse*/
    margin-top: 7%;
}

.primeiromajor img {
    margin-top: 5%;
    margin-left: 5%;
    margin-right: 1.5%;
    float: left;
    width: 700px;
    height: 400px;
}

.segundomajor img {
    margin-top: 5%;
    margin-left: 1.5%;
    margin-right: 5%;
    width: 700px;
    height: 400px;
    float: right;
}

.segundomelhor img {
    margin-top: 5%;
    margin-bottom: 1%;
    width: 800px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.paragrafof { /*Classe no parágrafo para que ele fique alinhado ao centro, e também eu ajuste o tamanho dele*/
    display: block;
    margin-left: auto;
    margin-right: auto;
    max-width: 1200px;
}

.imagens-superiores, .imagens-inferiores {
    width: 100%; 
    text-align: center; 
}

.imagens-superiores img, .imagens-inferiores img {
    margin: 10px; 
    width: 250px;
}

/*Imagens e modificações do contato.html*/
.contato-container { /*Classe no h1 e no p para que eu possa alinhar do jeito que que ficar melhor visualmente com os campos*/
    margin-top:10%;
    margin-left: 3%;
}

form {
    margin-left: 3%;
    display: flex; /* Define o elemento form como um contâiner flexÃ­vel */
    flex-direction: column; /*Deixa os campos em formato de coluna*/
    justify-content: space-between; /* Alinha os itens filhos verticalmente e distribui o espaço restante igualmente entre eles */
    width: 80%; /*Largura dos campos*/
}

form [type="submit"], form [type="reset"] {
    height: 50px; /*Altura dos botões de enviar e limpar*/
    width: 110px; /*Largura dos ambos botões*/
    background-color: rgb(243, 220, 9);
    color: black; /*Cor do texto dentro do botão*/
    font-weight: bold;
}

form [type="submit"], form [type="reset"]:hover {
    cursor: pointer;
}

.button-container { /*Classe pro botões ficarem do lado do outro e não embaixo*/
    display: flex;
    margin-top: 1%;
}

input {
    margin-top: 20px; /* Define uma margem superior de 20 pixels para os elementos input */
    margin-left: 6%;
    height: 10px; 
    padding: 15px; /* Define um espaçamento interno de 15 pixels para os elementos input */
    border-radius: 20px; /*Borda arredondada*/
    border: none; /* Remove a borda dos elementos input */
    font-size: 15px;
}

textarea {
    resize: none; /* Impede o redimensionamento da textarea pelo usuário */
    margin-top: 20px; 
    margin-left: 6%;
    padding: 15px; /* Define um espaçamento interno de 15 pixels para a textarea */
    border-radius: 20px; 
    border: none; 
    font-size: 15px;
}

main { 
    display: flex; /* Define o elemento main como um contâiner flexível */
}

.contato-hr {
    margin-top: 2%;
}

/*Modificações do Congratulations.html*/
.logo3 img {
    float: right;
    margin-top: 5%;
    margin-left: 1.5%;
    margin-right: 20%;
    width: 15%;
}

.seta2 img {
    margin-top: 5%;
    margin-left: 5%;
    width: 4%;
}

.congratulations-hr {
    margin-top: 24%;
}